<ul>
  <li><%= comment.content %>
    <% if user_signed_in? %>
      <p><%= link_to 'Reply', parent_id: comment %></p>
      <div class="collapse show">
        <%= render partial: 'comments/form', locals: {parent: comment.id} %>
      </div>
    <% end %>
    <% if comment.has_children? %>
      <% comment.children.each do |child| %>
        <%= render 'comments/comment', comment: child %>
      <% end %>
    <% end %>
  </li>
</ul>
